exportPattern("^[[:alpha:]]+")

export(get_data_sources)
export(get_details)
export(get_external_references)
export(get_formula_batch_results)
export(get_formula_batch_status)
export(get_image)
export(get_mass_batch_results)
export(get_mass_batch_status)
export(get_mol)
export(get_results)
export(get_sdf)
export(get_status)
export(post_convert)
export(post_element)
export(post_formula)
export(post_formula_batch)
export(post_inchi)
export(post_inchikey)
export(post_intrinsic_property)
export(post_mass)
export(post_mass_batch)
export(post_name)
export(post_smiles)
export(post_validate_inchikey)
export(write_image)
export(write_mol)
importFrom(curl,curl_fetch_memory)
importFrom(curl,handle_setheaders)
importFrom(curl,handle_setopt)
importFrom(curl,new_handle)
importFrom(jsonlite,base64_dec)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,toJSON)
importFrom(png,readPNG)
importFrom(png,writePNG)
