exportPattern("^[[:alpha:]]+")

export(get_data_sources)
export(get_details)
export(get_image)
export(get_mol)
export(get_external_references)
export(get_results)
export(get_status)
export(post_convert)
export(post_formula)
export(post_inchi)
export(post_inchikey)
export(post_mass)
export(post_name)
export(post_smiles)
export(post_validate_inchikey)
export(write_image)
export(write_mol)
importFrom(httr,add_headers)
importFrom(httr,content)
importFrom(httr,GET)
importFrom(httr,POST)
importFrom(jsonlite,base64_dec)
importFrom(png,readPNG)
importFrom(png,writePNG)
